<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmartlabs.bigbang.ui"
    >

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <activity
            android:configChanges="orientation|screenSize"
            android:name=".recyclerview.multipleitems.MultipleItemActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:configChanges="orientation|screenSize"
            android:name=".recyclerview.singleitem.SingleItemActivity"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>
