<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmartlabs.template"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.xmartlabs.template.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name="com.xmartlabs.template.ui.login.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatusBar"
            />

        <activity
            android:name="com.xmartlabs.template.ui.onboarding.OnboardingActivity"
            android:label="@string/onboarding"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatusBar"
            />

        <activity
            android:name=".ui.recyclerfragmentexample.RecyclerExampleActivity"
            android:label="@string/recycler_fragment_example"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.xmartlabs.template.ui.StartActivity"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
