<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scottruth.timeoffandroid">

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".TimeOffApplication"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.demo.RepoDetailActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/welcome_title"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d739027a1d6649cf3819975d62356884fc0ba824" />
    </application>
</manifest>
